pyproject.toml
build/
dist/
docs/build/
docs/build_pdf/
pftracker/ui_sources/dialog_error.ui
pftracker/ui_sources/dialog_facedetector.ui
pftracker/ui_sources/dialog_results.ui
pftracker/ui_sources/mainwindow.ui
